.awesome-icon {
    font-size: 30px;
    text-align: left;
    width: 80%;
    color: #274f22;
    position: relative;
    bottom: 70px;
  }

  .panel-left {
    width: 40vw; 
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(64, 132, 57, 0.8), rgba(64, 132, 57, 0.8)),
        url('../assets/images/Background.png');
  }

  @media (max-width: 720px) {
    .panel-left {
      display: none;
    }
  }
  
  .panel-left-text {
    width: 80%;
    color: white;
    text-align: left;
  }

  .awesome-chevron {
    width: 80%;
    text-align: right;
    font-size: 40px;
    color: white;
  }

  .awesome-rotate {
    -webkit-transform: rotate(315deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(315deg);      /* to support IE 9 */
    transform: rotate(315deg);
  }

  .logo {
    font-size: 30px;
    text-align: left;
    width: 80%;
    position: relative;
    bottom: 190px;
    right: 5px;
    opacity: 0.8;
  }