.title {
  font-weight: bold;
  text-align: left;
}

.panel-right {
  margin-right: auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 35%;
}

@media (min-width: 720px) {
  .panel-right {
    display: none;
  }
}

.step-one-text {
  text-align: left;
  color: grey;
  font-size: 15px;
  margin-bottom: 0;
}

.step-one-button {
  display: flex;
  align-items: center;
  margin-top: 35px;
  border-color: #408439;
}

.step-one-button:hover {
  -webkit-box-shadow: 5px 7px 17px 5px rgba(0,0,0,1); 
  box-shadow: 5px 7px 17px 5px rgba(0,0,0,0.1);
  background-color: white;
  border-color: white
}

.step-one-star {
  width: 40%;
}

.step-one-button-text {
  text-align: left;
  color: black;
  margin-bottom: 0;
  margin-top: 10px;
}

.step-one-button-text-two {
  color: grey;
  text-align: left;
  font-size: 14px;
  margin-bottom: 0;
  line-height: normal;
}

.step-one-text-two {
  color: grey;
  font-size: 15px;
  margin-right: 5px;
}

.button-right {
  width: 100%;
}

.panel-right-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
}

@media (max-width: 720px) {
  .panel-right-desktop {
    display: none;
  }
}

.action-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20%;
  text-align: left;
}

@media (max-width: 720px) {
  .action-box {
    display: none;
  }
}

.flex-container {
  display: flex;
}

.link-right {
  display: flex;
  margin-top: 30px;
  width: 40vw;
  justify-content: flex-end;
}

.initiate-link {
color: #408439;
font-size: 15px;
text-decoration: none;
}

.initiate-link:hover {
  color: #274f22;
}

.awesome-arrow {
  color: #408439;
  font-size: 15px;
}
