.justify-content {
    border-radius: 5px;
    width: 40vw;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 720px) {
  .justify-content {
    width: 85%;
  }
}

.step-two-input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.step-two-button {
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  background-color: #408439;
}

.info-top{
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  text-align: right;
  padding: 0;
}

.step-two-view {
  display: flex;
}